@model Mango.web.Models.CartDto

@if (Model != null && Model.CartDetails.Any())
{

<form method="post">
    <input asp-for="CardHeader.UserId" hidden />
    <input asp-for="CardHeader.CartHeaderId" hidden />
    <input asp-for="CardHeader.CouponCode" hidden />
    <input asp-for="CardHeader.DiscountTotal" hidden />
    <input asp-for="CardHeader.OrderTotal" hidden />
    <div>
        <span style="font-size:25px;" class="text-warning">Enter details and place order :</span>
        <br />
    </div>
    <div class="border mt-2">
        <div class="container row">
            <div class="col-7">
                <div class="row">
                    <div class="col-12">
                        <label class="col-form-label">First Name :</label>
                        <input asp-for="CardHeader.FirstName" class="form-control" />
                    </div>
                    <div class="col-12">
                        <label class="col-form-label">Last Name :</label>
                        <input asp-for="CardHeader.LastName" class="form-control" />
                    </div>
                    <div class="col-12">
                        <label class="col-form-label">Email :</label>
                        <input asp-for="CardHeader.Email" class="form-control" />
                    </div>
                    <div class="col-12">
                        <label class="col-form-label">Phone :</label>
                        <input asp-for="CardHeader.Phone" class="form-control" />
                    </div>
                    <div class="col-12">
                        <label class="col-form-label">PickUp Time</label>
                        <div class="input-group date" data-provide="datepicker">
                            <input asp-for="CardHeader.PickUpDataTime" class="form-control form_datetime" type="text">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <label class="col-form-label">Card Number :</label>
                        <input asp-for="CardHeader.CardNUmber" class="form-control" />
                    </div>

                    <div class="col-12">
                        <label class="col-form-label">CVV :</label>
                        <input asp-for="CardHeader.CVV" class="form-control" />
                    </div>

                    <div class="col-12 pb-4">
                        <label class="col-form-label">Expiry :</label>
                        <input asp-for="CardHeader.ExpiryMonthYear" placeholder="MMYY" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="card mt-4">
                    <div class="card-body">
                        <div class=" d-none d-lg-block">
                            <div class="row text-danger">
                                <div class="col-6">
                                    Product Details
                                </div>

                                <div class="col-3">
                                    Price
                                </div>
                                <div class="col-3">
                                    Count
                                </div>
                            </div>
                        </div>

                        <hr />


                        @foreach(var cartObj in Model.CartDetails){
                        <div class="row h-100">
                            <div class="col-6">
                                <span style="font-size:20px">@cartObj.Product.Name</span>
                            </div>

                            <div class="col-3" style="font-size:11px;">
                                <span style="font-size:17px;"> @string.Format("{0:c}", cartObj.Product.Price)</span>

                            </div>
                            <div class="col-3" style="font-size:11px;">
                                <span style="font-size:17px;"> @cartObj.Count</span>
                            </div>
                        </div>
                        <hr />
                            }

                        <div class="row">
                            <div class="col-12 text-right pr-4 text-danger">
                                Order Total :  @string.Format("{0:c}", Model.CardHeader.OrderTotal) <br />
                                @if (Model.CardHeader.DiscountTotal > 0)
                                    {
                                <span class="text-success"> Order Discount: @string.Format("{0:c}", Model.CardHeader.DiscountTotal)</span>

                                    }
                            </div>
                        </div>

                    </div>
                    <div class="card-footer">
                        <div class="row">

                            <div class="col-12 ">
                                <button type="submit" class="btn btn-success form-control ">
                                    <span>Place Order</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.datepicker').datepicker({
                format: 'mm/dd/yyyy',
                startDate: new Date()
            });
        })
    </script>
}
